
.close-modal-button {
  border-radius: 100%;
  width: 64px;
  height: 64px;
  color: #616061;
  text-align: center;
  line-height: 64px;
  position: absolute;
  top: 64px;
  right: 64px;
}

.close-modal-button:hover {
  cursor: pointer;
  color: black;
  background-color: rgb(209, 209, 209);
}

.close-modal-button h1 {
  font-size: 30px;
}

